.containerUpload {
    display: grid;
    grid-template-columns: 210px 60px /* display componenets side by side */
}

.containerDetails {
    display: grid;
    grid-template-columns: 150px 350px; /* display componenets side by side */
}

.invalidMessage {
    width: 300px;
}

img:hover {
    height: max-content;
    width: max-content;
}